<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<title>小井子的窝</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="templatemo">
	<meta charset="UTF-8">
	<link rel="icon" href="images/icon.png" type="img/x-ico" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800'
		rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
		type='text/css'>

	<!-- CSS Bootstrap & Custom -->
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/templatemo-misc.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/templatemo-main.css">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/ico/favicon.ico">

	<!-- JavaScripts -->
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/modernizr.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<style>
		.aplayer {
			font-family: Arial, Helvetica, sans-serif;
			margin: 5px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			border-radius: 2px;
			overflow: hidden;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			line-height: initial;
		}


		ol {
			display: block;
			list-style-type: decimal;
			margin-block-start: 1em;
			margin-block-end: 1em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			padding-inline-start: 40px;
		}

		.next {
			width: 68px;
			height: 40px;
			border-radius: 10px;
			background-color: #e3722e;
		}

		.mu:hover {
			background: #e3722e
		}
	</style>
	<!--[if lt IE 8]>
<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
	</div>
<![endif]-->
</head>

<body>
	<div id="home">
		<div class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="left-header">
								<span><i class="fa fa-phone"></i>18779106195</span>
								<span><i class="fa fa-envelope"></i>464863320@qq.com</span>
							</div> <!-- /.left-header -->
						</div> <!-- /.col-md-6 -->
						<div class="col-md-6 col-sm-6">

						</div> <!-- /.col-md-6 -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.top-header -->
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-6">
							<div class="logo">
								<h1><a href="#" title="Dreri">小井子的窝</a></h1>
							</div> <!-- /.logo -->
						</div> <!-- /.col-md-4 -->
						<div class="col-md-8 col-sm-8 col-xs-6">
							<div class="menu text-right hidden-sm hidden-xs">
								<ul>
									<li><a href="#home">主页</a></li>
									<li><a href="#services">历史留言</a></li>
									<li><a href="#portfolio">历史照片</a></li>
									<li><a href="#contact">编写留言</a></li>
									<li><a href="#music">音乐</a></li>
								</ul>
							</div> <!-- /.menu -->
						</div> <!-- /.col-md-8 -->
					</div> <!-- /.row -->
					<div class="responsive-menu text-right visible-xs visible-sm">
						<a href="#" class="toggle-menu fa fa-bars"></a>
						<div class="menu">
							<ul>
								<li><a href="#home">主页</a></li>
								<li><a href="#services">历史留言</a></li>
								<li><a href="#portfolio">历史照片</a></li>
								<li><a href="#contact">编写留言</a></li>
								<li><a href="#music">音乐</a></li>
							</ul>
						</div> <!-- /.menu -->
					</div> <!-- /.responsive-menu -->
				</div> <!-- /.container -->
			</div> <!-- /.header -->
		</div> <!-- /.site-header -->
	</div> <!-- /#home -->

	<div id="mygirl">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="images/back1.png" alt="">
					<div class="flex-caption">
						<h2 style="color:black">小井子</h2>
						<span></span>
						<p style="color:black">最好的年纪感谢有你的陪伴</p>
					</div>
				</li>
				<li>
					<img src="images/back2.png" alt="">
					<div class="flex-caption">
						<h2 style="color:black">周越</h2>
						<span></span>
						<p style="color:black">我会一辈子爱你的呀</p>
					</div>
				</li>
			</ul>
		</div>

		<div id="services" class="section-cotent">
			<div class="container">
				<div class="title-section text-center">
					<h2>历史留言</h2>
					<span></span>
				</div> <!-- /.title-section -->
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="service-item" v-for="(item,index) in items">
							<div class="service-header">
								<h3>{{item.message_time}}</h3>
							</div>
							<div class="service-description">
								{{item.content}}
								<div style="color:blueviolet" v-on:click="del(index)">删除</div>
							</div>
							<br>
						</div> <!-- /.service-item -->
					</div> <!-- /.col-md-3 -->

				</div> <!-- /.container -->
			</div> <!-- /#services -->

			<div id="portfolio" class="section-content">
				<div class="container">
					<div class="title-section text-center">
						<h2>历史照片</h2>
						<span></span>
					</div> <!-- /.title-section -->
					<div class="row">
						<div class="col-md-3 col-sm-6" v-for="item in images">
							<div class="portfolio-thumb">
								<img v-bind:src="item" alt="Portfolio Item 1">
								<div class="overlay">
									<div class="inner">
										<h4><a data-rel="lightbox" href="images/portfolio/item1.jpg">猪猪</a>
										</h4>
										<span>爱你</span>
									</div>
								</div> <!-- /.overlay -->
							</div> <!-- /.portfolio-thumb -->
						</div> <!-- /.col-md-3 -->
						<a href="./upload.html">上传图片</a>
					</div> <!-- /.row -->
					
				</div> <!-- /.container -->
			</div> <!-- /#portfolio -->


			<div id="contact" class="section-cotent">
				<div class="container">
					<div class="title-section text-center">
						<h2>留言区</h2>
						<span></span>
					</div> <!-- /.title-section -->
					<div class="row">
						<div class="col-md-7 col-sm-6">
							<h4 class="widget-title">写下你的留言吧</h4>
							<div class="contact-form">
								<p class="full-row">
									<label for="message">留言:</label>
									<textarea name="message" id="message" rows="6"></textarea>
								</p>
								<input class="mainBtn" type="submit" name="" value="留言" v-on:click="add">
							</div>
						</div> <!-- /.col-md-3 -->

					</div> <!-- /.row -->




				</div> <!-- /.container -->
			</div> <!-- /#contact -->

			<div id="music" class="section-cotent">
				<div class="container">
					<div class="title-section text-center">
						<h2>音乐播放列表</h2>
						<span></span>
					</div> <!-- /.title-section -->
					<div class="aplayer-list">
						<ul v-for="(item,index) in musics">
							<li v-on:click="play(index)" class="mu"><span>{{item.name}}</span></li>
						</ul>
						<audio id="audio" v-bind:src="src" controls autoplay="true"></audio>
					</div>

					<div class="row">
						<div class="col-md-7 col-sm-6">
							<p class="full-row" style="margin-top:30px">
								<input name="name" id="name" placeholder="歌曲名" style="border-radius: 10px;"></input>
								<input name="src" id="src" placeholder="歌曲链接" style="border-radius: 10px;"></i>
							</p>
							<input class="mainBtn" type="submit" name="" value="添加音乐" v-on:click="addMusic"
								style="border-radius: 10px;">
						</div>
						<a href="https://music.liuzhijin.cn/">友情链接</a>
					</div>


				</div>

			</div>

			<div class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<p>给我家猪猪的专属网站</p>
						</div> <!-- /.col-md-6 -->
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="go-top">
								<a href="#" id="go-top">
									<i class="fa fa-angle-up"></i>
									返回顶部
								</a>
							</div>
						</div> <!-- /.col-md-6 -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.site-footer -->
		</div>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/jquery.lightbox.js"></script>
		<script src="js/custom.js"></script>

		<script>
			var music_index = 0

			var demo = new Vue({
				el: '#mygirl',
				data: {
					items: [],
					musics: [],
					src: "",
					images: [],
					img_url:""
				},
				mounted() {
					var _this = this
					$.ajax({
						url: 'http://zhouyuebrandon.xyz:8090/user/getMessage',
						data: {},
						type: 'get',
						success: function (data) {
							_this.items = data

						},
						error: function (xhr, errorType, error) {
							console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
						}
					})

					$.ajax({
						url: 'http://zhouyuebrandon.xyz:8090/user/getMusic',
						data: {},
						type: 'get',
						success: function (data) {
							console.log(data + "##############")
							_this.musics = data
							_this.src = data[0].src
							console.log(_this.src + "#############")

						},
						error: function (xhr, errorType, error) {
							console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
						}
					})

					$.ajax({
						url: 'http://zhouyuebrandon.xyz:8090/user/getNum',
						data: {},
						type: 'get',
						success: function (data) {
							console.log("相册的数目为#############" + data)
							for (var i = 1; i <= data; i++) {
								_this.images.push('http://zhouyuebrandon.xyz:8090/companyPhoto/'+i)
							}

						},
						error: function (xhr, errorType, error) {
							console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
						}
					})

				},

				methods: {
					//
					add: function () {
						console.log("点击了添加")
						var _this = this
						var time = getNowFormatDate()
						if ($("#message").val().length <= 0) {
							alert("不能为空")
						} else {
							$.ajax({
								url: 'http://zhouyuebrandon.xyz:8090/user/addMessage',
								data: { "content": $("#message").val(), "message_time": time },
								type: 'get',
								success: function (data) {
									alert("添加成功")
									location.reload();
								},
								error: function (xhr, errorType, error) {
									console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
								}
							})
						}

					},
					del: function (index) {
						console.log(index)
						var _this = this
						console.log(_this.items[index])
						$.ajax({
							url: 'http://zhouyuebrandon.xyz:8090/user/delMessage',
							data: { "content": _this.items[index].content, "message_time": _this.items[index].message_time },
							type: 'get',
							success: function (data) {
								alert("删除成功")
								location.reload();
							},
							error: function (xhr, errorType, error) {
								console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
							}
						})
					},

					play: function (index) {
						var _this = this
						music_index = index
						_this.src = _this.musics[index].src
					},

					addMusic: function () {
						if ($("#name").val().length <= 0 || $("#src").val().length <= 0) {
							alert("长度不符合要求")
						} else {
							$.ajax({
								url: 'http://zhouyuebrandon.xyz:8090/user/addMusic',
								data: { "name": $("#name").val(), "src": $("#src").val() },
								type: 'get',
								success: function (data) {
									alert("添加成功")
									location.reload();
								},
								error: function (xhr, errorType, error) {
									console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
								}
							})
						}

					}

				}

			})

			/*var vuedemo = new Vue({
				el: '#services',
				data: {
					items: []
				},
				mounted() {
					var _this = this
					$.ajax({
						url: 'http://localhost:8090/user/getMessage',
						data: {},
						type: 'get',
						success: function (data) {
							_this.items = data
						},
						error: function (xhr, errorType, error) {
							console.log('Ajax request error, errorType: ' + errorType + ', error: ' + error)
						}
					})
				},
				methods: {

				}
			})
			*/


			//获取当前时间，格式YYYY-MM-DD
			function getNowFormatDate() {
				var date = new Date();
				var seperator1 = "-";
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if (month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if (strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = year + seperator1 + month + seperator1 + strDate;
				return currentdate;
			}
		</script>

</body>

</html>